* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.homepage {
  padding: 15px;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 400px;
  align-items: center;
  justify-content: center;
}

.question {
  text-align: center;
  padding-top: 50px;
}

.answers {
  list-style: none;
  padding: 0;
}

.answers button {
  margin: 5px;
  display: block;
  width: 100%;
}

.next {
  display: block;
  margin: auto;
}

.switchers {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
